  <nav class="navbar navbar-expand-lg " >
    <div class="container-fluid head" >
      <a class="navbar-brand" href="../../../index.html">
        <img src="../../assets/img/vintage-76.jpg" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class=" navbar-collapse" id="navbarSupportedContent">
        
        <form class="navbar-search navbar-search-light form-inline mr-sm-3 " id="navbar-search-main">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend" >
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Rechercher" type="text" (change)="search()" [(ngModel)]="rechercher" name="rechercher">
            </div>
          </div>
        </form>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link nav-link-icon" href="userProfile" target="_self" data-toggle="tooltip" data-original-title="Mon Profile">
              <i class="ni ni-single-02" style="color:orangered"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="panier" target="_self" data-toggle="tooltip" data-original-title="Panier">
              <i class="ni ni-cart" style="color:orangered "></i>
            </a>
          </li>
          <li class="nav-item">
              <button *ngIf="logged" class="rechercher btn" type="button" (click) = "deconnexion()">Déconnexion</button>
              <button *ngIf="!logged" class="rechercher btn" type="button" (click) = "connexion()">Connexion</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>