<nav
      class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
      id="sidenav-main"
    >
      <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
          <a class="navbar-brand" href="../../../index.html">
            <img
              src="../../assets/img/vintage-76.jpg"
              height="40"
              class="navbar-brand-img"
              alt="..."
            />
          </a>
          <div class="ml-auto">
            <!-- Sidenav toggler -->
            <div
              class="sidenav-toggler d-none d-xl-block"
              data-action="sidenav-unpin"
              data-target="#sidenav-main"
            >
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-inner">
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <hr class="my-3" />
                <h6 class="navbar-heading pl-4 text-muted">
                  <span class="docs-normal">  Documentation</span>
                </h6>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">
                  <i class="ni ni-shop text-primary"></i>
                  <span class="nav-link-text">  Accueil</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">
                  <i class="ni ni-cart text-primary"></i>
                  <span class="nav-link-text">  Votre panier</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">
                  <i class="ni ni-bag-17 text-primary"></i>
                  <span class="nav-link-text">  Mes commandes</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">
                  <i class="ni ni-settings-gear-65 text-primary"></i>
                  <span class="nav-link-text">  Réglages</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.creative-tim.com/product/impact-design-system-pro"
                >
                  <i class="ni text-primary text-primary"><h2>?</h2></i>
                  <span class="nav-link-text">  FAQ</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.creative-tim.com/product/impact-design-system-pro"
                >
                  <i class="ni ni-send text-primary"></i>
                  <span class="nav-link-text">  Nous contacter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
