.modal {
    position: fixed;
    background-color: rgba(80, 80, 80, 0.3);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  
  .modal > div{
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(80, 80, 80);
    height: fit-content;
    padding: 1em;
    border-radius: 0.5em;
  }
